{% extends "_layout" %}

{% set prizeType = entry.type %}

{% block content %}

{% switch prizeType %}
  {% case 'eventTickets' %}
    {% set prizeImage = entry.prizeImage.one() %}
    <div class="prize">
      <div class="prize__header">
        <h1>Track Your Prize</h1>
        <span class="prize__id"><strong>ID:</strong> {{ entry.uid }}</span>
      </div>

      <div class="prize-info">
        {% if prizeImage %}
        {% do prizeImage.setTransform('prizeImageTransformation') %}
        <div class="prize-info__image">
          <img src="{{ prizeImage.url }}"
            alt="{{ prizeImage.alt }}" />
        </div>  
        {% endif %}
        <div class="prize-info__content">
          <div class="prize-info__content-headings">
            <h2>{{ entry.title }}</h2>
            {% if entry.prizeSubtitle %}
            <h3>{{ entry.prizeSubtitle }}</h3>
            {% endif %}
          </div>
          {% if entry.termsAndConditions|striptags|trim %}
          <button class="prize-info__modal-trigger" onclick="window.termsModal.showModal()">
            T&Cs
          </button>
          {% include '_includes/_dialog.twig' with {'dialogContent': entry.termsAndConditions} %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="timeline">
      {% set shippedClass = "" %}
      {% set deliveredClass = "" %}
      {% set eventClass = "" %}
      {% set todaysDate = "now"|date("U") %}
      {% set estDeliveredDate = entry.shippedDate|date_modify("+7 day")|date("U") %}

      {% if entry.hasShipped %} 
      {% set shippedClass = "active" %}
      {% endif %}

      {% if todaysDate > estDeliveredDate %}
        Delivered
        {% set shippedClass = "complete" %}
        {% set deliveredClass = "complete" %}
        {% set eventClass = "active" %}
      {% endif %}
      
      <div class="step {{ entry.hasShipped ? "complete" : "active" }}">
        <h4 class="step__heading">You Won!</h4>
        <p class="step__date">{{ entry.winningDate | date("d F") }} </p>
      </div>
      <div class="step {{ entry.trackingUrl ? "has-link" : "" }} {{ shippedClass }} ">
        <h4 class="step__heading">Shipped</h4>
        {% if entry.shippedDate is not empty %}
        <p class="step__date">{{ entry.shippedDate | date("d F, g:ia") }} </p>
        {% endif %}
        {% if entry.trackingUrl is not empty and entry.hasShipped %}
        <a class="step__tracking-link" href="{{ entry.trackingUrl }}" target="_blank">Track</a>
        {% endif %}
      </div>
      <div class="step {{ deliveredClass }}">
        <h4 class="step__heading">Delivered</h4>
        <p class="step__date">{{ estDeliveredDate | date("d F") }} </p>
      </div>
      <div class="step event {{ eventClass }}">
        <h4 class="step__heading">Get ready to go!</h4>
        {% if entry.eventDate is not empty %}
        <p class="step__date">{{ entry.eventDate | date("d F") }} </p>
        {% endif %}
      </div>

      <span class="timeline__last-updated">Last updated: {{ entry.dateUpdated|datetime }}</span>
    </div>

    
  {% default %}
      <h1>{{ prizeType }} Page not made yet</h1>
    
{% endswitch %}

{% endblock %}

