{% extends "_layout" %}

{% set prizeType = entry.type %}

{% block content %}

{% switch prizeType %}
  {% case 'eventTickets' %}
    {% set prizeImage = entry.prizeImage.one() %}
    <div class="grid prize">
      <div class="prize__header">
        <h1>Track Your Prize!</h1>
        <span class="prize__id">Prize ID: {{ entry.uid }}</span>
      </div>

      <div class="prize-info">
        {% if prizeImage %}
        {% do prizeImage.setTransform('prizeImageTransformation') %}
        <div class="prize-info__image">
          <img src="{{ prizeImage.url }}"
            width="{{ prizeImage.width / 2 }}"
            height="{{ prizeImage.height / 2 }}"
            alt="{{ prizeImage.alt }}" />
        </div>  
        {% endif %}
        <div class="prize-info__content">
          <h2>{{ entry.title }}</h2>
          {% if entry.prizeSubtitle %}
          <h3>{{ entry.prizeSubtitle }}</h3>
          {% endif %}
        </div>
      </div>

    </div>
    
  {% default %}
      <h1>{{ prizeType }} Page not made yet</h1>
    
{% endswitch %}

{% endblock %}

