{% extends "_layout" %}

{% set prizeType = entry.type %}

{% block content %}

{% switch prizeType %}
  {% case 'eventTickets' %}
    {% set prizeImage = entry.prizeImage.one() %}
    <div class="prize">
      <div class="prize__header">
        <h1>Track Your Prize</h1>
        <span class="prize__id"><strong>ID:</strong> {{ entry.uid }}</span>
      </div>

      <div class="prize-info">
        {% if prizeImage %}
        {% do prizeImage.setTransform('prizeImageTransformation') %}
        <div class="prize-info__image">
          <img src="{{ prizeImage.url }}"
            alt="{{ prizeImage.alt }}" />
        </div>  
        {% endif %}
        <div class="prize-info__content">
          <div class="prize-info__content-headings">
            <h2>{{ entry.title }}</h2>
            {% if entry.prizeSubtitle %}
            <h3>{{ entry.prizeSubtitle }}</h3>
            {% endif %}
          </div>
          {% if entry.termsAndConditions|striptags|trim %}
          <button class="prize-info__modal-trigger" onclick="window.termsModal.showModal()">
            T&Cs
          </button>
          {% include '_includes/_dialog.twig' with {'dialogContent': entry.termsAndConditions} %}
          {% endif %}
        </div>
      </div>

    </div>
    
  {% default %}
      <h1>{{ prizeType }} Page not made yet</h1>
    
{% endswitch %}

{% endblock %}

